@import '../variables';

body {
	
	background: url(../../images/background.jpg) no-repeat center;
	background-size: cover;
	overflow: hidden;
}


.button-loading {
	
	display: none;
	margin: 0 0 0 10px;
	-webkit-animation: spin 1s infinite linear;

}

@-webkit-keyframes spin {
		0%  {-webkit-transform: rotate(0deg);}
		100% {-webkit-transform: rotate(360deg);}   
}

.login-box {
		margin: 120px auto;
		max-width: 310px;
		width: 100%;

		.error-msg {
			
			background-color: #ec2424;
			color: #fff;
			font-size: 12px;
			margin: 0 0 20px;
			padding: 15px 15px 1px;
			
			
		}

		img {

			width: 100px;
			display: block;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 20px;
		}

		form {
			background: rgba(0,0,0,0.5);
			box-sizing: border-box;
			padding: 32px;
			
		}

		.input{
			
			border: none;
			border-radius: 4px;
			height: auto;
			margin: 0 0 10px;
			padding: 10px;
			width: 100%;
		
		}

		.submit{
			
			background: $primary;
			border: none;
			border-radius: 4px;
			color: #ffffff;
			margin:0 0 10px;
			padding: 15px;
			width: 100%;
			text-align: center;
			transition: background .2s ease-in;
			&:hover {
		
				background:darken($primary,3%);
			}
		}

		a {

			width: 100%;
			padding: 15px;
			text-align: center;
			border-radius: 4px;
			background: rgba(124,109,101,0.5);
			color: #ffffff;
			text-decoration: none;
			display: block;
			margin-bottom: 10px;
		}

	}
