.page-404 {
  
	margin: 0 auto;
	text-align: center;
	
	.primary {
		font-size: 50px;
		margin: 0;
		.highlight {
			color: $primary;
			font-size: 100px;
			font-weight: bold;
			
		}
	}
	
	.secondary {
		margin: 0;
	}
	
	.content-box {
		margin: 200px 0 0;
	}

}