.about {
  
  text-align: center;
  
  h1 {
    font-size: 50px;
    margin:0 0 50px;
  }
  
  h2 {
    font-size: 35px;
  }
  
  
  .about-us{
    padding: 80px 0;
  }
  
  .about-mission {
    
    background: #e0e0e0;
    padding: 60px 0;
		
		ul {
			list-style: none;
			
			.fa {
				color: $primary;
			}
		}
  }
  
  .about-documents {
    h2 {
      margin: 0 0 40px;
    }
    padding: 60px 0 100px;
    
    .content-box {
      margin:40px 0 0;
      
      img {
        border:solid 1px $border;
        cursor:pointer;
        height: 270px;
        width: 180px;
      }
    }
  }
}