.breadcrumbs {
  
  background: $secondary;
  color: #ffffff;
  font-size: 12px;
  padding: 12px 0;
  margin: 0;
  p {
    margin: 0;
    
		
		.fa {
			
			font-size: 8px;
    	margin: 0 5px;
		}
    a {
      color: $border;
      text-decoration: none;
      
      &:hover {
        text-decoration: none;
      }
    }
		
		.current {
			color: #ffffff;
		}
  }
}