.company-vision {
  
  padding: 18% 0;
  .content-box {
    
    margin: 0 0 30px;
    
    text-align: center;
    
    h3 {
      
      color: $secondary;
      font-size: 25px;
      font-weight: bold;
      margin:20px 0;
    }
    
    .fa {
      color : $primary;
      font-size: 60px;
    }
  }
}