.contact-us {
  
  color: $font-color;
  padding: 80px 0;
  text-align: center;
  
  h1 {
    
    font-size: 50px;
    margin: 0 0 80px;
    
  }
  
  .contact-details {
    
    font-size: 20px;
    list-style: none;
    margin: 0 0 50px;
    text-align: center;
    
    li {
      .fa {
        color:$primary;
        margin: 0 20px 0 0;
      }
      
      .logo {
        margin: 0 10px 0 -10px;
      }
    }
  }
  
  .map-container {
    position: relative;
    
    .overlay {
      background: transparent;
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      
    }
  }
}