.footer {
  
  background: $secondary;
  color:#ffffff;
  padding: 50px 0 0;
  text-align: center;
  
  ul {
    list-style: none;
    
    a {
      color:#ffffff;
    }
  }

  .content-box {
    
    .logo {
      
      img {
        
        width: 164px;
        height: 44px;
      }
    
    }
    
    .nav-header {
      font-size: 18px;
    }
    .social-icons {
      
      margin: 10px 0 0;
      li {
        display: inline-block;
        a {
          color: $social-icons;
          font-size: 12px;
          transition: all .2s ease-in;
          &:hover {
            color: $primary;
          }
        }
      }
    }
    
    .footer-nav {
      font-size: 14px;
			margin: 0;
      li {
        margin: 0 0 8px;
        
        a {
          transition: all .2s ease-in;
          &:hover {
            color: $primary;
          }
        }
      }
    }
    
    .contact-nav {
      margin: 0;
      li {
        margin: 0 0 8px;
        
        .company-name {
          font-size: 16px;
          font-weight: bold;
        }

        .company-address,
        .company-number,
        .company-email {
          font-size: 12px;
        }

        .fa {
          margin: 0 7px 0 0;
        }
      }
      
    }
  }
  
  .copyright-box {
    
    background: $primary;
    font-size: 11px;
    margin: 50px 0 0;
    padding: 15px 0;
    
    p {
      margin: 0;
    }
  }
}