.main-header {
  
  .social-media-box {
    
    background: $secondary;
    color:#ffffff;
    padding: 10px 0;
   
    
    .social-icons {
      
			float: right;
      list-style: none;
      margin: 0;
      transition: all .2s ease-in;

      
      li {
        float: left;
        margin: 0 20px 0 0;
        
        a {
          color:$social-icons;
					font-size: 11px;
          text-decoration: none;
					
          
          &:hover {
            
            color:$primary;
          }
        }
      }
    }
  }
  
  .navigation {

    .logo {
      display: block;
      float: left;
      margin: 16px 0 0;
      
      
      img {
        height: 24px;
        width: 90px;
      }
			
			 .tagline {
				display: inline;
				font-size: 10px;
				font-weight: bold;
				margin: 0 0 0 5px;
			}
    }
    .mobile-menu {
    	cursor: pointer;
      float: right;
      margin: 15px 0 0;
      
    }
    .main-nav {
      clear: both;
      font-size: 14px;
      float: none;
      margin: 10px 0 0;
      
      .menu {
        height: 0;
        padding: 10px 0 0;
        text-align: center;
        visibility: hidden;
        li {
          display: block;
          a {
            color: $menu-font;
            display: block;
            margin:0 -15px 0;
            padding: 10px;
            transition: all .2s ease-in;
            &:hover {
              background: $primary;
              color: #ffffff;
            }
          }
        }
      }
      .active {
        height: auto;
     
      }
      
      .visible {
        visibility: visible;
      }
    }
  }
}