@media screen and (min-width:641px) {
  
	/*------------------------ Header ----------------------------*/
  .main-header {

    .navigation {

      .logo {
        float: left;

      }
      
      .mobile-menu {
    
        display: none;
      }

      .main-nav {
				
        clear: none;
        float: right;
        margin:0;
        .menu {
          padding: 0;
          height: auto;
          visibility: visible;
          li {
            display: inline-block;
            a {
              margin:0;
              padding: 20px 16px;
            }
						
						.current {
							
							background: $primary;
							color: #ffffff;
							font-weight: bold;
						}
          }
        }
      }
    }
  }
  
	/*------------------------ Company Vision ----------------------------*/
  .company-vision {
    
		padding: 8% 0;
    .content-box {
      margin: 0;
    }
    
  }
  
	/*------------------------ Products ----------------------------*/
	
  .product-list {

		padding: 60px 0; 
		
    .content-box {
			.product {
				
				.overlay {
					
					a {
						
						font-size: 30px;
					}
				}
			}
      .product-title {

        text-align: left;
      }
    }
  }
  
  .single-product {

    .image-box {

      padding:0 50px 0 15px;

   
    }


  }
	
	.about {
  
	
		.about-us{
			
			p {
				text-align: justify;
			}
			
		}
		
		.about-mission {
			
			ul {
				li {
					p {
						text-align: justify;
					}
				}
			}
		}

	}
  
	/*------------------------ Contact ----------------------------*/
	
  .contact-us {
  
    .contact-details {

      text-align: left;

    }
    
    .map-container {
      
      .overlay {
        display: none;
      }
    }
  }
	
	/*------------------------ Footer ----------------------------*/
  
  .footer {
  
    text-align: center;

    .content-box {
      
      .footer-nav {
        display: inline-block;
				margin: 0 0 0 12px;
        text-align: left;
        width: 155px;
      }

      .contact-nav {
        display: inline-block;
        text-align: left;
      }
    }
    
    .copyright-box {
    
      text-align: left;

    }  
  }
}
