.product-list {
  
  padding: 30px 0;
  
  .content-box {
    
		margin:  0 0 10px;
    .product {
      
      border:solid 1px $border;
      border-radius: 5px;
      padding: 10px;
      position: relative;
      margin: 0 auto 10px;
			max-height: 350px;
			max-width: 270px;
      text-align: center;
    	width: 100%;
      img {

        transition: all .2s ease-in;
				width: 100%;
      }
      
      &:hover .overlay{
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
				filter: alpha(opacity=1);
				-moz-opacity: 1;
 				-khtml-opacity: 1;
				opacity: 1;
      }
      
      &:hover img {
        transform: scale(1.02)
      }
      
      .overlay {
      
        background:rgba(0,0,0,0.1);
        border-radius: 5px;
        content : "";
        height: 100%;
        left:0;
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
				filter: alpha(opacity=0);
				-moz-opacity: 0;
 				-khtml-opacity: 0;
				opacity: 0;
        position: absolute;
        top:0;
				text-align: center;
				transition: opacity .2s ease-in;
        width: 100%;
				white-space: nowrap;
				
        
        a {
					background: $secondary;
          border-radius: 3px;
          color: #ffffff;
          cursor: pointer;
					font-size: 20px;
          margin: 0;
          padding:10px 14px;
          
        }
      }
			
			.overlay:before {
				content: '';
				display: inline-block;
				height: 100%;
				margin-right: -0.25em;
				vertical-align: middle;
				
			}
      
    }
    
    
    
    .product-title {
      
      color: $secondary;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
    }
  }
}