.single-product {
  
  color: $font-color;
  padding: 80px 0;
  
  h1 {
    font-size: 35px;
  }
  
  hr {
    border: solid 3px $border;
  }
  .category {
    background: $primary;
    border-radius: 5px;
    color: #ffffff;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 8px 12px;
  }
  
  .image-box {
   
    padding:0 15px 0 15px;
    
    img {
    
      border:solid 1px $border;
      border-radius: 5px;
      margin: 0 0 30px 0;
      max-height: 500px;
      width: 100%;
    }
  }
  
  
  .detail-box {
    
    margin: 80px 0 0;
  }
}