@import 'variables';

/*------------------------ General Styles ----------------------------*/

body {
  color: $font-color;
  font-family: 'Lato', sans-serif;
}

h1,h2,h3,h3,h5,h6 {
  color: $secondary;
  font-family: 'Lato', sans-serif;
  
}

.body-content {
	
	.highlight {
		background: none;
    color: $primary;
	}

}



/*------------------------ Header ----------------------------*/

@import 'header';

/*------------------------ Breadcrumbs ----------------------------*/

@import 'breadcrumbs';
/*------------------------ Home ----------------------------*/

@import 'hero';
@import 'company_vision';

/*------------------------ Product List ----------------------------*/

@import 'product_list';
@import 'single_product';

/*------------------------ About Us ----------------------------*/

@import 'about_us';

/*------------------------ Contact Us ----------------------------*/

@import 'contact_us';
/*------------------------ Footer ----------------------------*/

@import 'footer';
/*------------------------ Media Queries ----------------------------*/

@import 'media_query';

@import '404';