.admin-header {
	
	a {
		color: #ffffff;
		font-size: 12px;
	}
	
	.title-bar {
		
		background: $secondary;
		display: none;
	}
	
	.menu {
		
		background: none;
	}
	.top-bar {
		
		background: $secondary;
		
		.top-bar-left {
			.logo {
				margin: 5px 0 0 10px;
			}
		}
		
		.submenu {
			
			a {
				background: #ffffff;
				color: $secondary;
			}
		}
		
		.fa {
			margin:-2px 5px 0 0;
		}
	}
	
	.dropdown.menu>li.is-dropdown-submenu-parent>a:after {
		
		  border-color: #ffffff transparent transparent;
	}
}