.main-content{
	
	min-height: 100vh;
	padding: 0 0 20px;
	.breadcrumbs {
		background: #777777;
		color: #ffffff;
		margin: 0;
		padding: 12px;
		
		h5 {
			
			font-size: 18px;
			padding: 0;
			margin: 0;
			
			.fa {
				margin-right: 10px;
			}
		}
	}
  
  .flash-message {
     border:none;
     margin: 0;
     padding: 0 0 15px 15px;
    
    p {
      color: $font-color;
      margin: 15px 0 0;
    }
  }
	
	.error-msg {
				
		color:red;
		font-size: 12px;
		margin: 0 0 10px;
	}
		
	
	.inner-content {
		
		padding: 50px 20px;
	
		.product-form {
			
			.product-image {
				
				display: block;
				height: 250px;
				width: 250px;
				margin: 0 0 20px;
			}
			
			.mce-tinymce {
				
				margin: 0 0 20px;
			}
		
		}
		
		.product-list {
			
			.product-table {
				
				
				
				thead {
					color: $font-color;
				}
				
				a {
					
					color: $font-color;
					text-decoration: none;
					.fa {

						cursor: pointer;

						&:hover {

							color:$primary;
						}
					}
				}
				
				
			}
		}
		
		.media-list {
			
			.media-thumb {
				
				height: 80px;
				width: 80px;
				
			}
			
			table {
					
					a {

						color: $font-color;
						text-decoration: none;
						.fa {

							cursor: pointer;

							&:hover {

								color:$primary;
							}
						}
					}
				}
			
		}
	}
}