@media screen and (min-width:641px) {
  
	/*------------------------ Header ----------------------------*/
  
	.sidebar {
	
		height: 100vh;
		
		.main-menu {
			
			text-align: left;
			a {
		
				padding: 10px 0 10px 10%;

			}
		}
	}
}
