.reveal {
	
	border:none;
	padding: 0;
	
	.modal-header {
		
		background: $secondary;
    color: #ffffff;
    padding: 10px;
		
		p{
			
			margin: 0;
		}
		
	}
	
	.modal-content {
		
		padding: 20px 0 30px;
		text-align: center;
		.loader {
			
			height:200px;
			margin: -20px 0 0;
			position: relative;
			
			img {
				left:50%;
				position: absolute;
				top:60%;
				transform: translate(-60%,-50%);
				
			}
		}
		
		.image-thumb {
			
			cursor: pointer;
			height: 180px;
			margin: 0 0 20px;
			width: 180px;
			
			&:hover {
				
				border:solid 5px #cccccc;
			}
		}
		
		.selected {
			
			border:solid 5px #cccccc;

		}
	}
	
	.close-button {
		
		color: #ffffff;
		&:hover {
			
			color: $primary;
		}
	}
	
	.modal-footer {
		
		overflow: hidden;
		padding: 20px 20px 10px;
		#set-image {
			
			background: $primary;
			border:none;
			color: #ffffff;
			float: right;
			margin: 0;
			padding: 10px 20px;
			
			&:hover {
				
				background: darken($primary,5%);
			}
		}
	}
	
}