.sidebar {
	
	background: #ffffff;

	
	.user-info {
		
		border-bottom: solid 4px #cccccc;
		margin: 0 -15px 0 -15px;
		min-height: 100px;
		padding: 30px 0 0;
		text-align: center;
		
		p {
			margin: 0;
			padding: 0;
			
		}
		
		.user-name {
			font-weight: bold;
		}
		
		.user-last-login {
			
			color: $secondary;
			font-size: 10px;
		}
	}
	
	.main-menu {
		height: 100%;
		list-style: none;
		padding: 10px 0;
		margin: 0;
		text-align: center;
		
		a {
			border-bottom: solid 1px #cccccc;
			color:$secondary;
			display: block;
			margin: 0 -15px 0 -15px;
			padding: 10px 0 10px 0;
			
			.fa {
				
				margin: 0 10px 0 0;
			}
			
			&:hover {
				color:#ffffff;
				background: $primary;
			}
			
		}
		.current {
				
				color:#ffffff;
				background: $primary;
			}
	}
}