@import '../variables';

/*------------------------ General Styles ----------------------------*/

.body-wrap {
	
	background: #F1F5F8;
	color: $font-color;
	overflow: hidden;
}

/*------------------------ Header ----------------------------*/

@import 'header';


/*------------------------ Sidebar ----------------------------*/


@import 'sidebar';

/*------------------------ Main Content ----------------------------*/

@import 'main_content';


/*------------------------ Modal ----------------------------*/


@import 'modal';
/*------------------------ Media Querys ----------------------------*/

@import 'media_query';